<h1>Game Library</h1>

<p>Welcome to the Game Library homepage.</p>

<p>
  <a href="<%= routes.login_path %>">Login here</a>, or alternatively, <a href="<%= routes.signup_path %>">sign up!</a>
</p>

<br />
<p>Please use the menu at the top of the page for access to different parts of the website, or your profile page.</p>
