<h1>Login</h1>
<%=
  # form_for :user, routes.users_path do
  #   text_field :name
  #   text_field :password
  #   submit 'Login'
  # end
%>
<p>Or alternatively, you can <a href="<%= routes.signup_path %>">signup</a>!
