<h1>Signup</h1>
<%=
  # form_for :user, routes.users_path do
  #   text_field :name
  #   text_field :password
  #   submit 'Signup!'
  # end
%>
<p>Or alternatively, you can <a href="<%= routes.login_path %>">login</a>!
