<div class="sidebar">
  <%= image 'link.png', alt: 'http://www.neogaf.com/forum/showthread.php?t=390648&page=390', id: 'link' %>
  <%= image 'zelda.png', alt: 'https://chaosmechanica.wordpress.com/2012/12/11/concept-factory-legend-of-link-zeldas-awakening/legend-of-zelda-minish-cap/', id: 'zelda' %>
</div>
