<%=
  unless users.nil?
    "<ul>"
  end
%>
<%=
string = ""
users.each do |user|
  string += "<li><a href=#{routes.user_path}#{user.username}>#{user.username}</a></li>"
end
unless users.nil?
  string += "</ul>"
end
%>
