<h1><%=user.username%></h1>
<h2>Games</h2>
<% if games.any? %>
  <% games.each do |game| %>
    <div class="user_game"><p><%= game.title %></p></div>
  <% end %>
<% else %>
      <p>No Games Added</p>
<% end %>
